@import "tailwindcss" theme(static);
@import "@nuxt/ui";

@theme static {
  --font-sans: 'Public Sans', sans-serif;

  --color-green-50: #EFFDF5;
  --color-green-100: #D9FBE8;
  --color-green-200: #B3F5D1;
  --color-green-300: #75EDAE;
  --color-green-400: #00DC82;
  --color-green-500: #00C16A;
  --color-green-600: #00A155;
  --color-green-700: #007F45;
  --color-green-800: #016538;
  --color-green-900: #0A5331;
  --color-green-950: #052E16;

  --color-black-50: #f5f5f5;
  --color-black-100: #e5e5e5;
  --color-black-200: #cccccc;
  --color-black-300: #b3b3b3;
  --color-black-400: #808080;
  --color-black-500: #1d1a1a;
  --color-black-600: #333333;
  --color-black-700: #1a1a1a;
  --color-black-800: #0d0d0d;
  --color-black-900: #000000;
  --color-black-950: #000000;
}
